<form method="post">
    <select name="order">
        <option value="ASC">Prix - vers +</option>
        <option value="DESC">Prix + vers -</option>
    </select>
    <input type="submit" value="Filtrer"/>
</form>