

<!-- ======= Top Bar ======= -->

<div id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class='bx bx-mail-send'></i><a href="mailto:contact@daz-immobilier.com">contact@daz-immobilier.com</a>
            <i class='bx bx-mobile'></i><a href="tel:0689132333">+33 6 89 13 23 33</a>
        </div>
        <div class="contact-info d-flex align-items-center">
            <!-- Formulaire de choix de la langue -->
            <a href="/" class="d-flex align-items-center me-2 text-decoration-none">
                <img src="/assets/img/france.png" width="32"/>
            </a>
            <a href="/" class="d-flex align-items-center ms-2 text-decoration-none">
                <img src="/assets/img/uk.png" width="32"/>
            </a>
        </div>
        <div class="cta d-none d-md-block">
            <!-- Formulaire de connexion -->
            <form class="row align-items-center">
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                        </svg>
                    </span>
                    <input type="text" class="form-control" placeholder="Mail" value=""/>
                </div>
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                    </span>
                    <input type="password" class="form-control" placeholder="Password" value=""/>
                </div>
                <div class="col justify-content-center input-group">
                    <input type="submit" class="submit" value="Connexion">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <a href="/">
            <img src="/assets/img/logo.png" width="128" />
        </a>
        <!-- Barre de navigation -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">About</a></li>
                <li><a class="nav-link scrollto" href="/#services">Services</a></li>
                <li><a class="nav-link scrollto" href="/#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                <li><a class="nav-link scrollto" href="/#pricing">Pricing</a></li>
                <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="{{ path('register') }}">Inscription</a></li>
            </ul>
        </nav>
    </div>
</header>

