 <!-- En-tête de la page -->
        <header class="py-3 border-bottom">
             <div class="container d-flex flex-wrap justify-content-center">
                <!-- Logo de l'agence immobilière -->
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/logo.png" width="128"/>
                </a>
                <!-- Formulaire de choix de la langue -->
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/france.png" width="32"/>
                </a>
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/uk.png" width="32"/>
                </a>
                <!-- Formulaire de connexion -->
                {% include 'connexion.html.twig' %}
            </div>
        </header>
        <!-- Barre de navigation -->
        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
                <!-- Liens de navigation -->
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active">Accueil</a></li>
                    <li class="nav-item"><a href="/subscribe" class="nav-link link-dark px-2">Inscription</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Annonces</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link link-dark px-2">Contact</a></li>
                </ul>
                <!-- Formulaire de recherche -->
                <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</span>
                    <input type="search" class="form-control" placeholder="Rechercher...">
                    </div>
                </form>
            </div>
        </nav>

        <nav class="py-2 bg-secondary border-bottom ">
        <div class="col align-self-start">
            <select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>
<div class="col align-self-start">
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>
        </nav>
		<!-- Corps de la page -->
		<main>
			<h1 class="m-3 text-center alert alert-success">...</h1>
			<article class="m-3">
				<h2 class="m-4"><span class="p-1 border-bottom border-success">...</span></h2>
				<p>Test</p>
			</article>
		</main>
		<!-- Pied de la page -->
		<footer class="bg-dark text-white">
            <div class="row g-5 py-5">
                <div class="col-md-2 d-flex align-items-center border-end border-white border-2">
                    <!-- Liens de navigation -->
                    <ul class="nav row">
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Accueil</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-warning px-2 text-center">Annonces</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link link-warning px-2 text-center">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-2 d-flex align-items-center border-end border-white border-2">
                    <!-- Liens de navigation -->
                    <ul class="nav row">
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Inscription</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Inscription</a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <ul class="nav row">
                        <li class="nav-item text-center">
                            <a href="https://facebook.com" class="mb-3 mb-md-0 me-md-auto text-decoration-none">
                                <img src="assets/img/facebook.png" width="64"/>
                            </a>
                            <a href="https://instagram.com" class="mb-3 mb-md-0 me-md-auto text-decoration-none">
                                <img src="assets/img/instagram.png" width="64"/>
                            </a>
                            <a href="https://twitter.com" class="mb-3 mb-md-0 me-md-auto text-decoration-none">
                                <img src="assets/img/twitter.png" width="64"/>
                            </a>
                        </li>
                        <li class="nav-item text-center">Icônes conçues par <a href="https://www.freepik.com" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></li>
                        <li class="nav-item text-center">Image by <a href="https://pixabay.com/users/ikedaleo-5258838/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2278497">ikedaleo</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2278497">Pixabay</a></li>
                        <li class="nav-item text-center">&copy; 2021 - <b>DAZ Immobilier</b></li>
                    </ul>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <!-- Liens de navigation -->
                    <ul class="nav row">
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Conditions Générales de Vente</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Conditions Générales d'Utilisation</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Mentions légales</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-warning px-2 text-center">FAQ</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-warning px-2 text-center">A propos</a></li>
                    </ul>
                </div>
            </div>
		</footer>