 <!-- En-tête de la page -->
        <header class="py-3 border-bottom">
             <div class="container d-flex flex-wrap justify-content-center">
                <!-- Logo de l'agence immobilière -->
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/logo.png" width="128"/>
                </a>
                <!-- Formulaire de choix de la langue -->
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/france.png" width="32"/>
                </a>
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <img src="assets/img/uk.png" width="32"/>
                </a>
                <!-- Formulaire de connexion -->
                {% include 'connexion.html.twig' %}
            </div>
        </header>
        <!-- Barre de navigation -->
        <nav class="py-2 bg-light border-bottom">
            <div class="container d-flex flex-wrap">
                <!-- Liens de navigation -->
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active">Accueil</a></li>
                    <li class="nav-item"><a href="/subscribe" class="nav-link link-dark px-2">Inscription</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Annonces</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link link-dark px-2">Contact</a></li>
                </ul>
                <!-- Formulaire de recherche -->
                <form class="col-12 col-lg-auto mb-3 mb-lg-0">
                <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
</span>
                    <input type="search" class="form-control" placeholder="Rechercher...">
                    </div>
                </form>
            </div>
        </nav>

        
		<!-- Corps de la page -->
		<main>
			<h1 class="m-3 text-center alert alert-success">...</h1>
			<article class="m-3">
				<h2 class="m-4"><span class="p-1 border-bottom border-success">...</span></h2>
				<p>Test</p>
			</article>
		</main>
		<!-- Pied de la page -->
		<footer class="bg-dark text-white">
            <div class="row g-5 py-5">
               
                
                <div class="col-md-3 d-flex align-items-center">
                    <!-- Liens de navigation -->
                    <ul class="nav row">
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Conditions Générales de Vente</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Conditions Générales d'Utilisation</a></li>
                        <li class="nav-item"><a href="/" class="nav-link link-warning px-2 text-center">Mentions légales</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-warning px-2 text-center">FAQ</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-warning px-2 text-center">A propos</a></li>
                    </ul>
                </div>
            </div>
		</footer>